@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

.Container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: -1%;
    background-color: #AC5859;
}

.Container hr {
    position: absolute;
    left: 0;
    width: 0;
    opacity: 0;
}

.Container h1 {
    color: white;
    font-family: 'Dancing Script', cursive;
}
